
<a href="events/<%= e.id %>">
    <div>
        <h4 class="list-group-item-heading"><%= e.title %></h4>

        <span>
            <span class="test-muted"><%= e.location %>></span>
            <span class="pull-right">
                <strong><%= format_date e.date %></strong>
            </span>
        </span>
    </div>
</a>
